<a href="https://colab.research.google.com/github/damopea94/damop/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
num= int(input("Enter a number"))
if num ==0:
  print('Sunday')
elif num == 1:
  print('Monday')
elif num== 2:
  print('Tuesday')
elif num == 3:
  print('Wednesday')
elif num== 4:
  print('Thursday')
elif num ==5:
  print('Friday')
elif num== 6:
  print('Saturday')
else:
 print('invalid number')

Enter a number4
Thursday

In [0]:
from math import sqrt
print("Input lengths of shorter triangle sides:")
a = float(input("a: "))
b = float(input("b: "))

c = sqrt(a**2 + b**2)
print("The length of the hypotenuse is",c )

Input lengths of shorter triangle sides:
a: 3
b: 4
The length of the hypotenuse is 5.0

In [0]:
print("input lengths of triangle,:")
a = float(input("a: "))
b = float(input("b: "))
c = float(input("c: "))
def isright_angled():
    if abs((a**2+b**2)-(c**2)) < 0.1 or abs((c**2-a**2)-(b**2)) < 0.1 or abs((c**2-b**2)-(a**2)) < 0.1:                         
        return True
    else:
        return False

input lengths of triangle,:
a: 3
b: 3
c: 4

In [0]:
for Month in ["January","Febuary","March","April","May","June","July","August","September","October","November","Decemebr"]:
  Sentence= "One of the months of the year " + Month
  print(Sentence)

One of the months of the year January
One of the months of the year Febuary
One of the months of the year March
One of the months of the year April
One of the months of the year May
One of the months of the year June
One of the months of the year July
One of the months of the year August
One of the months of the year September
One of the months of the year October
One of the months of the year November
One of the months of the year Decemebr

In [0]:
 numbers_list = [12,10,32,3,66,17,42,99,20]
numbers_total = 0
for num in numbers_list:
    numbers_total += num
print(numbers_total)
import numpy as np
 numbers_list = [12,10,32,3,66,17,42,99,20]
result = np.prod(np.array(numbers_list))  
print(result)

301
1074879590400

In [0]:
def countEvenOdd(n): 
      
    even_count = 0
    odd_count = 0
    while (n > 0): 
        rem = n % 10
        if (rem % 2 == 0): 
            even_count += 1
        else: 
            odd_count += 1
              
        n = int(n / 10) 
      
    print( "Even count : " , even_count) 
    print("\nOdd count : " , odd_count) 
    if (even_count % 2 == 0 and
                    odd_count % 2 != 0): 
        return 1
    else: 
        return 0
  
# Drive code 
n = 2335453; 
t = countEvenOdd(n); 
  
if (t == 1): 
    print("YES") 
else: 
    print("NO")

Even count :  2

Odd count :  5
YES

In [0]:
count_even = 0

for num in range(1, 1001):
    if num % 2 == 0:
        count_even += 1

print("Number of even numbers from 1 to 1000 is", count_even)

Number of even numbers from 1 to 1000 is 500

In [0]:
import turtle
window=turtle.Screen()
window.bgcolor("lightgreen")

one = turtle.Turtle()

one.speed(0)

angls = [160, -43, 270, -97, -43, 200, -940, 17, -86]

for a in angls:

    one.fd(100)

    one.lt(a)

one.fd(100)

In [0]:
import turtle
window=turtle.Screen()
window.bgcolor("lightgreen")
wn = turtle.Screen()

t = turtle.Turtle()

for i in range(3):

    t.forward(100)
    t.left(120)

In [0]:
import turtle
window=turtle.Screen()
window.bgcolor("green")
wn = turtle.Screen()

t = turtle.Turtle()

for i in range(6):

    t.forward(100)

    t.left(360/6)